.pic{
    margin-top: 25px;
    width:10%;
    height:5%;
    align-content: center;
}
.box p{
    font-size: 40px;
    font-weight:bolder;
    text-align: center;
}
.para{
    font-weight:bolder;
    text-align: center;
    font-size: 28px;
}
/* p{
    text-align: center;
    font-weight: 500;
    font-size: xx-large;
    text-transform: uppercase;
    color:darkgreen;
} */
.image {
  margin: 0px 30px;
  margin-bottom:30px;
  border : 3px solid;
  border-top-color :  lightgreen;
  border-right-color : lightgreen;
  border-bottom-color : darkgreen;
  border-left-color: darkgreen;
  width: 100px;
  height: 150px; 
}

.card {
	float:left;
    margin: 20px;
    /* margin-left: 40px; */
    margin-left:70px;
    margin-right: 70px;
    color: darkgreen;
	}

.card div{
    text-align: center;
    color: darkgreen;
}

.card div:hover{
    color:lightgreen;
}

.result div {
    background-color: #ffffff;
    width: 60%;
    border: 5px outset darkgreen;
    border-radius: 10px;
    text-algin: center;
}

.result p{
    color: green;
}