{% extends "layout.html" %}
{% block content %}
<div class="section-container">
    <div class = "columns imge"><a href="/recycle"><img src="/static/image/r.jpg" alt="">&nbsp;</a></div>
    <div class = "columns content">
        <div class = "content-container">
            <h5> Recycle </h5>
            <p> The average American produces three times global average of garbage per person per year.
                High numbers of waste and poor management of it can lead to water, air, food, and soil pollution.
                Of this waste, about 1/3 of it is recyclable. To find out whether you can recycle something and where
                you can recycle it, you can use our built-in recycling location search!
            </p>
            
            <p> Every vehicle on the road releases an average of one pound of CO2 per mile driven. 
                Compared with driving alone, taking public transportation reduces CO2 emissions by 45%, 
                decreasing pollutants in the atmosphere and improving air quality. 
                It's estimated that public transportation in the U.S. saves 37 million metric tons of carbon dioxide annually, 
                and even moderate increases in bicycle use each year could save an estimated 6 to 14 million tons. To find out
                if public transportation is a viable option near you, use our built in public transit route search!
            </p>
        </div>
    </div>
<!-- 
    <div class="section-container">
    <div class = "columns imge"><a href="/transport"><img src="/static/image/tra.jpg" alt=""></a></div>
    <div class = "columns content">
        <div class = "content-container">
            <h5> Transportation </h5>
            <p>  Thus knsljnbkshdbvkhhsbdh sdjhc jh 
                bd sjd jhs djh sjd js jhfs jhsuwhjdh
                sbsjhfjhfjh fjhfs
                sj jhjs fjhs fjh sfjh sfj sfj fsjh fsjhf
            </p>
            
            <p>  Thus knsljnbkshdbvkhhsbdh sdjhc jh 
                bd sjd jhs djh sjd js jhfs jhsuwhjdh
                sbsjhfjhfjh fjhfs
                sj jhjs fjhs fjh sfjh sfj sfj fsjh fsjhf
            </p>
        </div>
    </div> -->


<!-- <a href=""><img class="pics" src="/static/image/r.jpg" alt=""></a> -->

</div>
{% endblock content %} 