{% extends "layout.html" %}
{% block content %}
  <marquee>WELCOME TO SUSTAINABILIME</marquee>
    <div class = "contner"> 
    <a href=""><img class="pics" src="/static/image/eo-modified.png" alt=""></a>
      <!-- <div class="top-left">Welcome to <br> SUSTAINABILIME</div> -->
    </div>

<!-- <div class="about-section"> -->
  <div class ="cor">
  <div class= "col"><h2>ABOUT US</h2>
  <p> We want to help people do more to preserve our planet! </p>
  </div>
  <div class="col"><h2>OUR MISSION</h2>
        <p>We want to help prevent the disproportionate amount of waste and energy usage.</p>
        <p>The average American produces 3x the amount of waste and 4x the tons of carbon emissions in comparison to the rest of the world.
          To cut down on these discrepancies and help the average American do more to preserve our planet.</p>
    <!-- <p>Preventing energy from going to waste is one of the easiest and most powerful actions you can take to save money and lower your climate change footprint by reducing greenhouse gas emissions and conserving natural resources. </p></div> -->
  </div>
  <div class="col"><h2>WHAT WE DO</h2>
    <p>SustainabiliMe is an app that allows its users to track and cut down on their energy usage and waste. To have access to 
      these services, click 'GET STARTED' in the navigation bar and sign up!</p>
    </div>
</div>
{% endblock content %}