
{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
        <a class="navbar-brand mr-4" href="/home"><img class="logo" src="/static/image/home.png">SUSTAINABILIME</a>
        <div class="navbar">
            <ul>
                {% if current_user.is_authenticated %}
                <!-- <li><a href="">Energy Consumption</a>
                <ul>
                  <li><a href="/transport">Transportation</a></li>
                </ul>
                </li> -->
                <li><a href="">Waste Management</a>
                <ul>
                  <li><a href="/recycle">Recycling</a></li>
                </ul>
                </li>
                <li><a href="/logout">{{session.name}} Logout</a></li>
                {% else %}
                <li><a href="/login">Get Started</a></li>
                
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}